.teams {
  width: 1000px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin: 30px auto;
  justify-content: center;
  gap: 20px;
}
.teams-description {
  width: 1000px;
  margin: 20px auto;
}
.teams-description h2 {
  color: #96bb7c;
  margin: 10px 0;
}
@media screen and (max-width: 576px) {
  .teams {
    grid-template-columns: repeat(1, 1fr);
  }
}
@media screen and (min-width: 577px) and (max-width: 992px) {
  .teams {
    grid-template-columns: repeat(2, 1fr);
  }
}
